.class-select{
	position: relative;
	width:100%;
	z-index: 0;
}

.tutor-panel{
	padding:10px;
	width:100%;
	background-color:#f0f0f0;
	margin-bottom: 10px;
}

.availability,
.tutor-name{
	display:inline-block;
	background-color: #268dd5;
	padding-left: 20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	margin:10px;
}

.availability:hover,
.tutor-name:hover{
	cursor: pointer;
}

.tutor-name:hover{
	background-color: #267bb7;
}

.availability:hover{
	background-color: #ff7200;
}

.availability,
.tutor-name a{
	color:white !important;
}

.availability{
	background-color: #ff8400;
}

.profile-panel {
	width:56%;
	position:fixed;
	background: #f0f0f0;
	box-shadow: 0px 3px 8px black;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right:30px;
  	z-index: 10;
}

.confirm-panel{
	position:fixed;
	color:white;
	background: #268dd5;
	width:30%;
	margin-left:13%;
	margin-right:13%;
	box-shadow: 0px 3px 8px black;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 3%;
	padding-right:3%;
  	z-index: 10;
}