html,
body{
  padding:0;
  margin:0;
  background-color: #F9F9F9;
  font-family: "Helvetica";
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	text-decoration: none !important;
}

.wrapper{
	padding-left: 10%;
	margin-top:70px;
	text-align: center;
	padding-right: 10%;
}

.wrapper {
	min-height: 90vh;
	background-color: #268dd5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

.content-wrapper{
	min-height: 90vh;
	padding-left:5%;
	padding-right:5%;
	padding-top: 20px;
	background-color: #F9F9F9;
}

.wrapper h1 {
	text-align: left;
}

p{
	text-align: justify;
}

.btn{
	margin-top:10px;
	color:white;
	background-color: #ff8400;
	border-radius: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-top:10px;
	padding-bottom:10px;
}

.home-btn{
	color:white;
	margin-top:30px;
	font-size:20px;
	background-color: #268dd5;
	padding-left: 40px;
	padding-right: 40px;
	padding-top:10px;
	padding-bottom:10px;
	border-width: 2px;
	border-style: solid;
	border-color:white;
	transition: all 0.3s ease;
	margin-left:20px;
	margin-right:20px;
}
.home-btn a {
	color: white;
}

.home-btn a:hover,
.home-btn a:focus{
	color:#268dd5;;
}

.home-btn:hover,
.home-btn:focus{
	color:#268dd5;
	background-color: white;
}

.home-wrapper{
	padding-top: 20vh;
	width:100%;
	text-align: center !important;
}

.logo{
	color:white;
	text-align: center !important;
	font-family:'Pacifico', Helvetica;
	font-size:100px;
}

/************* navbar *******************/

.navbar-brand{
	margin-top: 10px;
	font-family:'Pacifico', Helvetica;
	font-size: 30px;
}

li a{
	color:white;
}

.navbar-nav {
	height:70px;
	padding-left: 10%;
}

.navbar-nav > li >a{
	height:70px;
	padding-top: 25px;
}

.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: #267bb7;
    color:white;
}

.active {
	background-color: #267bb7; 
}

.container-fluid{
	background-color: #268dd5;
}
