html,
body{
  padding:0;
  margin:0;
  background-color: #F9F9F9;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper{
	padding-left: 10%;
	margin-top:70px;
	text-align: center;
	padding-right: 10%;
}

.wrapper {
	min-height: 100vh;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

.content-wrapper{
	padding-left:5%;
	padding-right:5%;
	padding-top: 20px;
	background-color: #F9F9F9;
}

.wrapper h1 {
	text-align: left;
}

/************* navbar *******************/

.navbar-brand{
	margin-top: 10px;
	font-family:'Pacifico', Helvetica;
	font-size: 30px;
}

li a{
	color:white;
}

.navbar-nav {
	height:70px;
	padding-left: 10%;
}

.navbar-nav > li >a{
	height:70px;
	padding-top: 25px;
}

.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: #267bb7;
    color:white;
}

.active {
	background-color: #267bb7; 
}

.container-fluid{
	background-color: #268dd5;
}
