html,
body{
  padding:0;
  margin:0;
  background-color: #F9F9F9;
  font-family: "Helvetica";
  z-index: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	text-decoration: none !important;
}

.wrapper{
	padding-left: 10%;
	margin-top:70px;
	padding-right: 10%;
	min-height: 91.3vh;
	background-color: #268dd5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	z-index: 0;
}

.content-wrapper{
	position:relative;
	min-height: 91.3vh;
	padding-left:15%;
	padding-right:15%;
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #F9F9F9;
 	z-index: 0;
}

.wrapper h1 {
	text-align: left;
}

p{
	text-align: justify;
}

.btn{
	margin-top:10px;
	color:white;
	background-color: #ff8400;
	border-radius: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-top:10px;
	padding-bottom:10px;
}

.btn:hover,
.btn:focus {
	color:white;
	margin-top:8px;
	margin-bottom:2px;
	box-shadow: 0 2px 0 #ff2a00;
}

.submit {
	position:absolute;

	right:0;
	bottom: 0;
}

.home-btn{
	color:white;
	margin-top:30px;
	font-size:20px;
	background-color: #268dd5;
	padding-left: 40px;
	padding-right: 40px;
	padding-top:10px;
	padding-bottom:10px;
	border-width: 2px;
	border-style: solid;
	border-color:white;
	margin-left:20px;
	margin-right:20px;
}
.home-btn a {
	color: white;
}

.home-btn:hover a,
.home-btn:focus a{
	color:#268dd5;;
}

.home-btn:hover,
.home-btn:focus{
	box-shadow: 0 0 0;
	margin-bottom:0px;
	margin-top: 30px;
	color:#268dd5;
	background-color: white;
}

.home-wrapper{
	padding-top: 20vh;
	width:100%;
	text-align: center !important;
}

.logo{
	color:white;
	text-align: center !important;
	font-family:'Pacifico', Helvetica;
	font-size:100px;
}

.form-wrapper {
	position:relative;
	padding-bottom: 60px;
	overflow-x:auto;
	z-index: 0;
}
/************* navbar *******************/

.navbar-header{
	padding-left:1%;
}

.navbar-brand{
	margin-top: 10px;
	font-family:'Pacifico', Helvetica;
	font-size: 30px;
}

li a{
	color:white;
}

.navbar-nav {
	height:70px;
	padding-right: 2%;
}

.navbar-nav > li >a{
	height:70px;
	padding-top: 25px;
}

.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: #267bb7;
    color:white;
}

.active {
	background-color: #267bb7; 
}

.container-fluid{
	background-color: #268dd5;
}
