.scheduler {
	display:inline-block;
}

.scheduler td{
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
}

.selectedBlock{
	background-color: #268dd5;
	width:80px;
}

.unselectedBlock,
.selectedBlock{
	width:100px;
	padding:0;
	text-indent: -9999px;   
}

.unselectedBlock:hover,
.selectedBlock:hover{
	cursor: pointer;
}

