<div class="content-wrapper" style="text-align:left;" ng-init="initializeProfile()">
	<div style="margin-top:30px">
	<img class="profile-picture pull-left" src="{{auth.profile.picture}}"/>
	<div class="profile-wrapper" ng-hide="getEditMode()">
	<h2 style="margin-top:0">{{auth.profile.name}}</h2>
		<h4>School: {{availableOptions[profileLocation]}}<h5>
		<div class="summary-wrapper">
			<h4>Summary: </h4>
			<p>{{profileSummary}}</p>
		</div>
		<button class="btn pull-right" ng-click="editMode()">Edit</button>
	</div>

	<form class="profile-wrapper" ng-show="getEditMode()" ng-submit="submit()">
	<div>
	<h2 style="margin-top:0">{{auth.profile.name}}</h2>
		<h4>School:
		<select name="input" ng-model="profileLocation" required>
			<option ng-repeat="option in availableOptions" value="{{$index}}">{{option}}</option>
    	</select></h4>
    	<h4>Summary: </h4>
    	<textarea ng-model="profileSummary" rows="6">
    		{{profileSummary}}
		</textarea>
	</div>
		<button class="btn" style="margin-right: 10px" ng-click="cancelEdit()">Cancel</button>
  		<input class="btn pull-right" type="submit" id="submit" value="Submit"/>
	</form>
	</div>
    <div id="wrapper" style="float:left;margin-top:125px;position:absolute;">
        <button class="btn pull-left" ng-click="viewToggle()" style="text-color:white">{{switch}}</button>
        <div class="calendar" style="margin-left:auto;margin-right:auto;height:100%;">
            {{ staticCalendar }}
        </div>
    </div>
</div>
