<div class="content-wrapper">
    <h1>Start Learning today!</h1>
	<h2> Course Selection </h2>
	<div class="profile-panel" ng-show="displayProfile()">
	    <h1>{{profileName}}</h1>
        <h4>School: {{profileLocation}}</h4>
        <h4>Summary: </h4>
        <p>{{profileSummary}}</p>
        <button class="btn pull-right" ng-click="closeDisplay()">Close</button>
	</div>

    <div class="confirm-panel" ng-show="displayConfirm()">
        <h2>You're about to confirm the following:</h2>
        <div class="class-select">
            <h3>Tutor: {{chosenName}}</h4>
            <h4>Time: {{chosenDate}} @ {{chosenTime}}
        </div>
        <button class="btn pull-left" ng-click="closeConfirm()">Cancel</button>
        <button class="btn pull-right" ng-right="confirmSelection()">Confirm</button>
    </div>

	<div class="form-wrapper">
        <h4>School: <select ng-model="item.schools" ng-options="p.name for p in schools" required></select> </h4>
    <table class="class-select">
        <tr>
            <th>Description: LSAT, Physics...</th>
            <th>Course Code</th>
            <!--<th>Remove Course</th>-->
        </tr>
        <tr ng-repeat="item in subject.items">
            <td>
                <input type="text" name="subject"> 
            </td>
            <td>
            	<input type="text" name="course_code">
            </td>
            <!--<td>[<a href ng:click="removeItem($index)">X</a>]</td>-->
        </tr>
        <!--<tr>
            <td><a href ng:click="addItem()" class="btn btn-small">Add another course</a>
            </td>
        </tr>-->
    </table>

    <div><input type="submit" class="btn submit" id="submit" value="Find Tutors"></div>
    </form>


    <div>

    <button class="btn submit" ng-click="submit()">Find a tutor</button>
    </div>
    </div>

    <div class="results" ng-show="isThereResults()">
        <h2>Results</h2>
        <div class="class-select">
            <div class="tutor-panel" ng-repeat="item in tutorList">
                <div ng-click="toggleDisplay(item.ID, item.name)" class="tutor-name">
                   <a ng-click="toggleDisplay(item.ID, item.name)">{{item.name}}</a>
                </div>
                <div class="availability" ng-repeat="date in item.times" ng-click="openConfirm(item.ID, item.name, date.date, date.time)">
                    {{date.date}} @ {{date.time}}
                </div>
            </div>
        </div>
    </div>

</div>



